<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Poiret+One&display=swap" rel="stylesheet"> 
	
	<link rel="stylesheet" href="/css/styles.css">
	
	
	<title>Photary</title>
</head>
<body>
	<div class="background-img">
		<h1 class="phot">Photary</h1>
		<h3 class="tag">Build your own travel album</h3>
		<div class="tag2-container">
			<h3 class="tag2">We combine your favorite travel photos with your journal entries</h3>
		</div>
		<div class="nav-container">
			<ul class="ul-nav">
				<a href="/login"><button class="login-btn">Login</button></a>
				<a href="/signup"><button class="signup-btn">Sign up</button></a>
			</ul>
		</div>
			<div class="hero-wrapper">
				
				<div class="hero-rome">
				</div>
				<div class="hero-cpt">
				</div>
				<div class="hero-colom">
				</div>
			</div>
			<h3 class="tag3-1">Access thousands of photos online.</h3>
			<h3 class="tag3-2">Save them to your albums. Your next trip starts here!</h3>


	</div>

	
	<div class="photo-icon-wrapper">

		<div class="photo-icon-container1">
			<div class="photo1-container">
				<img src="/img/sydney.jpg" alt="" class="photo1">
			</div>
			<div class="icon-text-container-top">
				<p class="icon-text-top">Look up photos of countries that you want to check out. Enjoy thousands of different photos of any country around the world. </p>
			</div>
		</div>
		
		<div class="photo-icon-container2">
			<div class="icon-text-container-mid">
				<p class="icon-text-mid">Create your own albums and collect all of your favorite photos. You can store and replace as many photos as you want. Your album will follow and grow with you.</p>
			</div>
			<div class="photo2-container">
				<img src="/img/sf.jpg" alt="" class="photo2">
			</div>
		</div>

		<div class="photo-icon-container3">
			<div class="photo3-container">
				<img src="/img/tokyo.jpg" alt="" class="photo3">
			</div>
			<div class="icon-text-container-btm">
				<p class="icon-text-btm">Relive your memories and create new ones with notes under your photos. Jot down past memories, general ideas and upcoming plans.</p>
			</div>
		</div>
		
	</div>

	<div class="signup2-container">
		<span class="signup-msg">Join our community today!</span>
		<a href="/signup"><button class="signup-btn2">Sign up</button></a>
	</div>


	<div class="contact-container">
		<h2>Contact Us</h2>
		<form class="contact-form">
			<div class="label-name-container">
				<label for="name" class="label-name">Name:</label>
				<input type="text" id="name" name="name">
			</div>
			<div class="label-email-container">
				<label for="email" class="label-email">Email:</label>
				<input type="email" id="email" name="email">
			</div>
			<div class="label-message-container">
				<label for="message" class="label-message">Message:</label>
				<textarea id="message" name="message"></textarea>
			</div>
			<div class="submit-btn-container">
				<a href="/"><button class="submit-btn">Submit</button></a>
			</div>
			
		</form>
	</div>

</body>
<%- include('partials/footer') -%>
