<%- include('partials/headerProfile') -%>



<div class="location-input-container">
	<form action="/locations" method="POST" class="location-form">
		<h1>Locations</h1>
		<label for="location-input" class="location-label">Search for a country: </label>
		<input type="text" class="location-input" name="location">
		<button type="submit" class="search-btn">Search</button>
	</form>

</div>
